aiofiles==23.2.1
starlette-admin[i18n]==0.14.0
starlette==0.35.1
itsdangerous==2.1.2
uvicorn==0.29.0
sqlalchemy-file==0.6.0
fasteners==0.19
mongoengine==0.27.0
Pillow==9.5.0
Markdown==3.5.1
sqlmodel==0.0.11
pydantic[email]==1.10.9
PyMySQL==1.1.0
odmantic==0.9.2
