{% extends "@starlette-admin/base.html" %}
{% block head %}
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{{ static_url(request, 'favicon/apple-touch-icon.png') }}">
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{{ static_url(request, 'favicon/favicon-32x32.png') }}">
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{{ static_url(request, 'favicon/favicon-16x16.png') }}">
    <link rel="manifest"
          href="{{ static_url(request, 'favicon/site.webmanifest') }}">
    {{ super() }}
    {# Umami page-view analytics: only injected once UMAMI_HOST / UMAMI_WEBSITE_ID are configured, see config.py #}
    {% if umami_host and umami_website_id %}
        <script defer
                src="{{ umami_host }}/script.js"
                data-website-id="{{ umami_website_id }}"></script>
    {% endif %}
{% endblock %}
